<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.cynara.ctyping.entitiy.mapper.ExamMapper">
	<cache />
	<resultMap type="Exam" id="baseResultMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="beginTime" column="beginTime"/>
		<result property="endTime" column="endTime"/>
		<result property="createTime" column="createTime"/>
		<result property="state" column="state"/>
		<result property="remarks" column="remarks"/>
		<association property="question" javaType="Question">
			<id property="id" column="id"/>
			<result property="title" column="title"/>
		</association>
	</resultMap>
	<insert id="insert" parameterType="Exam">
		INSERT INTO
		ctyping_exams(name,beginTime,endTime,question_id,createTime,state,remarks)
		VALUES
		(#{name},#{beginTime},#{endTime},#{question.id},#{createTime},#{state},#{remarks})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM ctyping_exams
		WHERE id=#{id}
	</delete>
	<update id="update" parameterType="Exam">
		UPDATE ctyping_exams SET
		name=#{name},beginTime=#{beginTime},endTime=#{endTime},createTime=#{createTime},state=#{state},remarks=#{remarks}
		WHERE id=${id}
	</update>
	<select id="findById" parameterType="int" resultMap="baseResultMap">
		SELECT * FROM ctyping_exams ce,ctyping_questions cq WHERE ce.question_id=cq.id AND ce.id=#{id}
	</select>
	<select id="findAll" resultMap="baseResultMap">
		SELECT * FROM ctyping_exams ce,ctyping_questions cq WHERE ce.question_id=cq.id
	</select>

</mapper>